/* Mulish Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
}


/* Header */
.header {
    width: 1090px;
    margin: 0 auto;
}

/* Navbar Styles */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.nav-logo {
    cursor: pointer;
}

.nav-title {
    font-size: 26px;
    font-weight: 800;
}

.nav-links ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    cursor: pointer;
}

.nav-links ul li a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s;
}

.bars a,
.shopping-cart a {
    transition: all 0.3s;
}

.nav-links ul li a:hover,
.bars a:hover,
.shopping-cart a:hover {
    color:tomato;
}


/* Banner Styles */
.banner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 88vh;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
    gap: 15px;
}

.banner-title {
    font-size: 42px;
}

.banner-description {
    font-size: 18px;
    width: 80%;
    color: gray;
}

.banner-btn {
    padding: 15px 25px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    background-color: rgb(224, 44, 109);
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.3s;
}

.banner-btn:hover {
    border: 2px solid rgb(224, 44, 109);
    background-color: transparent;
    color: black;
}

.banner-img {
    padding: 25px;
}

.banner-img img {
    background-image: url('../images/circle_design.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}


/* Sponsors Styles */
.sponsors {
    width: 1070px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.sponsors hr {
    color: gray;
    height: 2px;
    width: 100%;
}

.sponsors-logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}



/* Collection Styles */
.popular {
    width: 1070px;
    margin: 100px auto;
}

.popular-title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
    color: #333;
}

.popular-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.popular-card {
    padding: 20px;
    border-radius: 5px;
    box-shadow: -5px 7px 16px 1px rgba(0,0,0,0.58);
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.3s;
}

.popular-card:hover {
    transform: scale(1.02);
}

.popular-card-price {
    font-size: 18px;
}

.popular-rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
    color: gold;
}

.popular-rating p {
    color: black;
    font-weight: 700;
    margin-left: 5px;
}

.see-more {
    text-align: end;
    margin-top: 50px;
}

.see-more a{
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    color: rgb(224, 44, 109);
}

.see-more:hover a {
    color: rgb(209, 97, 138);;
}


